/* 以下為通用設定 */
/* 通用顏色 start */
:root{
    --bgcolor: #FBF8F6;
    --subbgcolor: #E6D9D0;
    --maincolor: #004C34;
    --subcolorgreen: #A5BA93;
    --subcolor: #F4F1EC;
    --subcolordark: #BE9C6D;
    --tagcolor: #F0A07C;
    --npurewhite: #FBF8F6;
    --fontcolor: #2e323b;
    --palegreen: #d8e4ce;
}
/* 通用顏色 end */

/* 通用字級 start */
body, header, footer, div, nav, aside, p, span, a, h1, h2, h3, h4, ul, ol, li{
    color:var(--fontcolor);
    text-decoration: none;
    line-height: 1.25rem;
    text-decoration: none;
    list-style: none;
    font-family: 'Yu Gothic', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;
    /* font-family: Hina Mincho; */
    box-sizing: border-box;
}
/* input{
    font-family: Yu Gothic;
} */
h1{
    font-size: 56px;
}
h2{
    font-size: 40px;
}
h3{
    font-size: 24px;
}
h4{
    font-size: 20px;
}
p, a, ul, ol, li,span{
    font-size: 18px;
    padding: 0;
}
p.tiny_font{
    font-size: 14px;
}
/* 通用字級 end */

/* 其他通用 stsrt */
a{
    display: inline-block;
}
 /* 背景色通用 */
body{
    background-color: var(--bgcolor);
}
/* 分欄通用 */
.container{
    width: 100%;
    max-width: 1200px;
    padding: 0 40px;
    padding-top: 70px;
}
.col_12, .col_md_12{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.row{
    width: 100%;
}
/* 手機 分欄通用 */
@media screen and (max-width: 767px) {
    .container{
        width: 100%;
        padding: 0px;
        padding-top: 40px;
    }
}

/* input 設定 start */

label{
    cursor: pointer;
}

/* 移除 input type search 瀏覽器的取消鍵 start */
/* clears the 'X' from Internet Explorer */
input[type=search]::-ms-clear {  
    display: none; 
    width : 0; 
    height: 0; 
    }
    input[type=search]::-ms-reveal { 
    display: none; 
    width : 0; 
    height: 0; 
    }
   
/* clears the 'X' from Chrome */
   input[type="search"]::-webkit-search-decoration,
   input[type="search"]::-webkit-search-cancel-button,
   input[type="search"]::-webkit-search-results-button,
   input[type="search"]::-webkit-search-results-decoration { 
   display: none; 
   }

/* input type search placeholder 設定 start */
::placeholder {
    font-family: 'Yu Gothic';
    font-size: 14px;
  }

/* input type search 邊框 設定 start */
.search_type{
    outline: none;
    border:none;
    font-size: 20px;
}

/* input type 設定 start */
input[type="button"]{
    display: none;
}
input[type="checkbox"]{
    display: none;
}
input[type="radio"]{
    display: none;
}

/* input 設定 end */

/* scroll bar 設定 */

/* 捲軸底色 */
.scroll_style::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: var(--subcolorgreen);
}
/* 捲軸寬度 */
.scroll_style::-webkit-scrollbar {
  width: 3px;
  background-color: black;
}
/* 捲軸本體顏色 */
.scroll_style::-webkit-scrollbar-thumb {
  background-color: var(--subcolor);
}

/* slide button img 設定 */
.img.slide_btn img{
    width: 40px
}
.slide_btn.prev, .slide_btn.next{
    display: flex;
    align-items: center;
}

/* section title */
.col_12.col_md_12.title{
    padding-bottom: 40px;
    position: relative;
}
.col_12.col_md_12.title::after{
    content: '';
    position: absolute;
    background-image: url('../pics/background/bg_title_underline.png');
    background-size: contain;
    background-repeat: no-repeat;
    opacity: .8;
    top: 35px;
    left: -20px;
    width: 100%;
    height: 30px;
}
.title_sub{
    color: var(--maincolor);
    font-weight: 400;
    padding-bottom: 40px;
}
.section.title h1{
    font-family: 'Hina Mincho';
}
/* 商品圖片 */
.link.product{
    width: 150px;
    position: relative;
}
.link.product:hover img{
    transform: scale(1.07);
    transition: 0.5s cubic-bezier(0.63, 0.37, 0.26, 0.99);
}
.link.product img{
    width: 100%;
    box-shadow: 0px 0px 3px var(--fontcolor);
    transition: 0.5s cubic-bezier(0.63, 0.37, 0.26, 0.99);
}
@media screen and(max-width: 767px) {
    .tag{
        bottom: 70%;
    }
}
/* 商品資訊 */
.book.name{
    padding: 5px;
    width: 20vw;
    align-items: center;
    font-weight: 600;
    text-align: left;
}
.book.price{
    display: block;
    padding: 0px 5px;
}
.book.price span{
    color: var(--subcolordark);
    font-weight: 600;
    font-size: 1.5rem;
}
/* 商品 購物袋 按鈕 */
.link.shop_bag{
    display: flex;
    justify-content: center;
}
.btn_shop_bag{
    color: #fff;
    padding: 10px 30px;
    display: block;
    background-color: var(--subcolordark);
    border-radius: 25px;
    text-align: center;
    margin: auto;
    box-shadow: 2px 2px 2px 1px rgb(0 0 0 / 20%);
    transition: .5s;
}
.btn_shop_bag:hover{
    background-color: var(--maincolor);
    box-shadow: none;
    transition: .5s;
}
/* profile pic */
.profile{
    padding: 15px;
}
.profile.pic{
    display:inline-block;
    position:relative;
    border-radius: 100%;
    width: 100px;
    height: 100px;
    overflow: hidden;
}
.profile.pic img{
    width:auto;
    height:100px;
    margin-left: -50%;
    margin-top: -22%;
    transition: .5s;
}
.profile.pic:hover img{
    transform: scale(120%);
    transition: .5s;
}

/* loading */
.loading{
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: var(--subcolordark);
    z-index: 100;
}
.loading img{
    position: absolute;
    left: 50%;
    top: 50%;
    width: 20vw;
    transform: translate(-50%, -50%);
}

/* owl */

.owl-item{
    padding: 0 10px;
}

/* more */

.more{
    padding-top: 40px;
    justify-content: right;
    font-weight: 600;
    padding-right: 20px;
}
.more a{
    color: var(--subcolordark);
    border-bottom: 3px solid transparent;
    transition: .5s;
}
.col_12.col_md_12.more.most_recom{
    display: flex;
}
.more:hover a{
    border-bottom: 3px solid var(--subcolordark);
    transition: .5s;
}

/* 滾滾滾出現跟消失 */

@media screen and (min-width: 768px) {
    .scro{
        position: relative;
        transform: translateX(-100px);
        opacity: 0;
        transition: all 1s ease;
    }
    
    .scro.active{
        transform: translateY(0px);
        opacity: 1;
    }
}

/* 其他通用 end*/

/* header section start */
/* header section 共用 */
.container.header{
    padding: 0 5px;
    position: fixed;
    z-index: 5;
}
.col_12.col_md_12.header{
    padding: 0;
    padding-top: 20px;
    font-weight: 500;
}
.container.title{
    padding-top: 130px;
}
.nav, .menu,.search_bar, .nav_btns{
    display: flex;
    align-items: center;
}
.nav{
    background-color: var(--subcolor);
    border-radius: 30px;
    padding: 0 5px;
}
.nav_btns a{
    padding: 5px 10px;
}
.logo{
    background-color: var(--subcolor);
    border-radius: 25px;
    padding: 0 20px;
    padding-top: 5px;
}
.img_logo{
    height: 40px;
}
.menu{
    height: 40px;
}
.menu a{
    font-size: 18px;
    color: var(--subcolordark);
    padding: 5px 0px;
}
.sales a{
    color: var(--maincolor);
}
.img_search{
    width: 12px;
}
.img_btn{
    width: 24px;
}

/* 搜尋 */
.header .search{
    display: block;
}
.header .search_bar::before{
    content:'Search : ';
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
    font-size: 20px;
}
.header .search_bar{
    transform: translate(200%, -150%);
    flex-direction: column;
    position: absolute;
    justify-content: center;
    width: 90vw;
    height: 50vh;
    background-color: #fff;
    box-shadow: 50px 50px 10px 1px #0006;
    /* box-shadow: -20px 20px 10px 1px #0006; */
    top: 180%;
    right: 5%;
    background: linear-gradient(to left bottom, transparent 50%, #ccc 0) no-repeat 100% 0 / 2em 2em,
    linear-gradient(-135deg, transparent 1.41em, #fff 0);
    transition: .5s;
}
.header .search{
    display: flex;
    align-items: center;
}
.header .img_search{
    width: 12px;
}
.img_btn{
    width: 25px;
}
.header .img_search.magnifer{
    padding-top: 5px;
    width: 20px;
}
.header .img_search.cancel{
    width: 15px;
}
.header .search_show{
    display: block;
    padding: 5px 10px;
}
.header .search_type{
    width: 100%;
    height: 50px;
    border-radius: 25px;
    padding: 0 20px;
    padding-right: 30px;
    background-color: var(--subbgcolor);
}
.header .search_bar_cancel{
    position: relative;
    background-color: var(--subbgcolor);
    border-radius: 25px;
    margin:  0 10px;
}
.header .search_cancel{
    position: absolute;
    width: 12px;
    left: 90%;
    bottom: 30%;
}
/* search bar 出現 */
.header .search_bar.on{
    transform: translate(0%, 0);
}
.header .search_bar::before{
    content:'Search : ';
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
    font-size: 20px;
}
/* header section 共用 end */

/* header 手機 start */
@media screen and (max-width: 767px) {

    /* menu */
    /* 隱藏menu */
    .menu{
        position: fixed;
        top: 2%;
        right: 2%;
        flex-direction: column;
        align-items: center;
        background-color: #fff;
        height: 80vh;
        width: 95vw;
        transform: translate(130%, 30%) rotate(45deg);
        z-index: 5;
        justify-content: space-between;
        transition: .5s;
    }
    .menu ul{
        margin: 0;
    }.menu a{
        color: var(--fontcolor);
    }
    
    /* 手機 menu 出現 */
    .menu.on{
        transform: translate(0%, 0) rotate(0deg);
        transition: .5s;
        overflow-y: scroll;
    }
    .menu a{
        font-size: 8vh;
        font-style: italic;
        font-weight: 200;
        display: block;
        text-align: center;
        padding: 5vh 0;
    }
    .menu a:first-child{
        margin-top: 5vh;
    }
    .menu li>ul{
        display: none;
    }
    /* menu */

    /* 漢堡選單 */
    .menu_btn{
        width: 50px;
        padding: 5px 10px;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }
    .menu_btn.on{
        z-index: 5;
    }
    .burger{
        margin: 2px 10px;
        background-color: var(--subcolordark);
        display: block;
        height: 2px;
        width: 20px;
        text-align: right;
    }
    .menu_btn :nth-child(even){
        height: 1px;
        width: 16px;
    }
    .menu_btn :nth-child(5){
        width: 12px;
    }
    /* 手機 menu 出現 漢堡變X  */
    .menu_btn.on .burger:nth-child(1){
        transform: rotate(45deg);
        transition: .5s;
    }
    .menu_btn.on .burger:nth-child(3){
        transform: translateY(-300%) rotate(135deg);
        transition: .5s;
    }
    .menu_btn.on .burger:nth-child(2n){
        display: none;
        transition: .5s;
    }
    .menu_btn.on .burger:nth-child(5){
        display: none;
        transition: .5s;
    }
    /* 漢堡選單 */    
}
/* header 手機 end */

/* header 平板以上 start */
@media screen and (min-width: 768px) {
    /* menu 滑動下底線上層定位 */
    .menu li, .sales, .columns{
        position: relative;
    }
    /* menu 滑動下底線 滑動前 */
    .menu a::after{
        content:'';
        position: absolute;
        width: 0%;
        top: 80%;
        left: 0;
        border-bottom: 2px solid var(--npurewhite);
        transition: 1s;
    }
    /* menu 滑動下底線 滑動後 */
    .menu a:hover::after{
        content:'';
        border-bottom: 2px solid var(--subcolordark);
        width: 100%;
        transition: 1s;
    }
    .menu .sales a:hover::after{
        content:'';
        border-bottom: 2px solid var(--maincolor);
        width: 100%;
        transition: 1s;
    }
    /* 下拉式選單隱藏 */
    .menu li>ul{
        position: absolute;
        top: 100%;
        left: 25%;
        background-color: #fff;
        border-radius: 5px;
        display: none;
        transition: .5s;
    }
    /* 下拉式選單出現 */
    .menu li:hover>ul{
        display: block;
        transition: .5s;
    }
    /* 下拉是選單 主選單滑動下底線 */
    .menu li:hover #booksLink::after {
        content:'';
        border-bottom: 2px solid var(--subcolordark);
        width: 100%;
        transition: 1s;
    }
    .menu li:hover #bestSellersLink::after {
        content:'';
        border-bottom: 2px solid var(--subcolordark);
        width: 100%;
        transition: 1s;
    }
    .menu li, .menu div{
        margin: 0 10px;
        box-sizing: border-box;
    }
}
/* header 平板以上 end */
/* header section end */

/* footer section start */
/* footer section 共用 start */
.full.footer{
    background-color: var(--subcolor);
    margin-top: 70px;
}
.container.footer{
    padding-top: 40px;
}
.footer h4{
    color: var(--maincolor);
    padding: 10px 0;
}
.col_6.cate{
    padding: 10px;
}
.col_6.cate div{
    padding: 5px 0;
}
.footer img{
 width: 40px;
 padding: 5px;
}
.cate.app img{
    width: 120px;
}
.soicalmedia_up, .soicalmedia_down{
    display: flex;
}
.row.footer.down{
    border-top: .2px solid var(--fontcolor);
}
.footer.down span,.footer.down span a{
    font-size: 12px;
    color: var(--fontcolor);
}
.footer.down span a{
    width: 100%;
    display: inline;
    color: var(--subcolordark);
}
/* footer section 共用 end */
/* footer 手機 start */
/* footer 手機 end */
/* footer 桌機 start */
/* footer 桌機 end */
/* footer section end */

/* columns */
/* columns deco line */
.column_arti{
    position: relative;
}
.column_arti:hover::after, .column_arti:hover::before {
    width: 48px;
    height: 48px;
    transition: .5s cubic-bezier(0.63, .57, 0.26, 0.99);
    opacity: 1;
}
.column_arti::after{
    content: '';
    position: relative;
    width: 0vw;
    height: 0vh;
    bottom: -3vh;
    right: -1vw;
    border-bottom: 1px solid var(--fontcolor);
    border-right: 1px solid var(--fontcolor);
    position: absolute;
    transition: .5s cubic-bezier(0.63, 0.37, 0.26, 0.99);
    opacity: 0;
}
.column_arti::before{
    content: '';
    position: relative;
    width: 0vw;
    height: 0vh;
    top: -3vh;
    left: -2vw;
    border-top: 1px solid var(--fontcolor);
    border-left: 1px solid var(--fontcolor);
    position: absolute;
    transition: .5s cubic-bezier(0.63, 0.37, 0.26, 0.99);
    opacity: 0;
}
/* columns pic */
.arti_pic{
    width: 100%;
    height: 200px;
    overflow: hidden;
    border-radius: 10px;
    position: relative;
}
.arti_pic img{
    width: 100%;
    transition: .5s cubic-bezier(0.63, 0.37, 0.26, 0.99);
}
/* columns date */
.arti.date.right, .arti.date.left{
    color: var(--subcolordark);
    position: absolute;
    font-size: 30px;
    font-style: italic;
    z-index: 1;
    left: 75%;
    top: -3%;
}
.arti.date.left{
    color: var(--maincolor);
}
.column_arti:hover img{
    transform: scale(1.07);
    transition: .5s cubic-bezier(0.63, 0.37, 0.26, 0.99);
}
.title.column{
    font-size: 24px;
    padding: 20px 0;
}
/* column 手機 */
@media screen and (max-width: 767px) {
    /* columns */
    .row.columns{
        display: block;
    }
    .column_arti{
        padding-top: 40px;
        margin-top: 70px;
    }
    /* columns  deco line*/
    .column_arti::after{
        bottom: -5vh;
        right: 2vw;
    }
    .column_arti::before{
        top: -5vh;
        left: 1vw;
    }
    .arti.date.right, .arti.date.left{
        color: var(--subcolordark);
        position: absolute;
        font-size: 30px;
        font-style: italic;
        z-index: 100;
        left: 60%;
        top: 5%;
    }
    .arti.date.left{
        color: var(--maincolor);
    }
    /* columns txt*/
    .title.column{
        line-height: 2rem;
    }
}