/* web_title section start */
/* web_title 共用  start*/
.container.web_title{
    padding-top: 0;
    padding-bottom: 120px;
    overflow: hidden;
}
.col_8.col_md_6.title_and_search{
    padding-top: 130px;
    position: relative;
    z-index: 2;
}
.slogan h1{
    font-size: 40px;
    vertical-align: middle;
    line-height: 4rem;
    font-family: 'Hina Mincho';
}
.slogan h1 span{
    font-size: 40px;
    font-weight: 500;
    color: var(--maincolor);
    font-family: 'Hina Mincho';
}
/* web_title 的搜尋欄 */
.web_title .search, .web_title .search_bar{
 background-color: transparent;
}
.web_title .search_bar_cancel{
    background-color: var(--subbgcolor);
    padding: 0 2px;
    border-radius: 25px;
}
.web_title .search_type{
    background-color: var(--subbgcolor);
    border-radius: 25px;
    padding-left: 25px;
}
.web_title .search_show{
    position: absolute;
    width: 12px;
    padding-top: 7px;
    padding-left: 10px;
    left: 2%;
    cursor: auto;
    z-index: 3;
}
.web_title .search_cancel{
    position: relative;
    right: 20px;
}
/* web_title 共用  end*/
.key_word{
    padding-top: 20px;
}
.key_word ul{
    display: flex;
    text-decoration: none;
}
.key_word li{
    padding: 0 5px;
}
.key_word a{
    color:var(--subcolorgreen);
}
.key_word a:hover{
    color: var(--maincolor);
}
/* web_title rolling_pics */
.rolling_pics{
    position: relative;
    padding-left: 60px;
    transform: rotate(45deg);
    max-height: 500px;
    top: -30%;
    left: 25%;
    display: flex;
    margin: 0, 0, 0 auto;
    z-index: 0;
}
.rolling_pics a{
    height: 290px;
    transition: height 5s;
}

.rolling_pics .left a, .rolling_pics .right a{
    transition: height 3s linear;
}
.rolling_pics .middle a{
    transition: height 5s linear;
}
.rolling_pics a:first-child{
    height: 0;
}
.rolling_pics img{
    height: 90%;
    padding-right: 20px;
}
/* .rolling_pics img:last-child{
    height: 0;
} */
/* @keyframes railUp{
    0%{top: 0px}
    20%{top: -300px}
    50%{top: -600px}
    70%{top: -900px}
    90%{top: -1200px}
}
@keyframes railDown{
    0%{top: 0px}
    20%{top: 300px}
    50%{top: 600px}
    70%{top: 900px}
    90%{top: 1200px}
}
.rolling_pics .left, .rolling_pics .middle, .rolling_pics .right{
    position: relative;
    animation: railUp 25s linear infinite;
}
.rolling_pics .middle{
    animation: railDown 25s linear infinite;
} */

/* web_title 手機 start*/
@media screen  and (max-width: 767px) {
    .web_title.container{
        padding-bottom: 120px;
    }
    .web_title .title_and_search{
        position: relative;
        z-index: 2;
    }
    .web_title .title_and_search h1, .web_title .title_and_search span{
        font-size: 8vw;
        line-height: 15vw;
    }
    .web_title .search, .web_title .key_word{
        display: none;
    }
}
/* web_title 手機 end*/

/*  web_title 平板以上 start */
@media screen  and (max-width: 992px){
    .key_word span, .key_word li, .key_word a{
        font-size: .5rem;
    }
}
/*  web_title 平板以上 end */
/* web_title section end */

/* good_points section start */
/*good_points 共用  start*/
.full.good_points{
    background-color: var(--subcolor);
}
.container.good_points{
    padding-top: 70px;
}
.intro h2 span{
    font-size: 40px;
    font-weight: 500;
    color: var(--maincolor);
}
.col_12.col_md_12.intro, .col_12.col_md_4.points{
    padding-bottom: 60px;
}
.col_12.col_md_4.points h2{
    line-height: 6vh;
    padding: 0 20px;
    font-size: 28px;
}
.col_12.col_md_4.points img{
    padding-bottom: 40px;
}
.detail img{
    width: 60px;
    display: block;
    margin:auto;
}
/*good_points 共用  end*/

/*good_points 手機  start*/
.points{
    display: flex;
    flex-direction: column;
}
/* good_points 手機 end */
/* good_points section end */

/* most_read section start */
/* most_read 手機 start */
/* most_read 手機 end */
/* most_read 桌機 start */
/* most_read 桌機 end */
/* most_read section end */

/* most_read section start */
.full.most_read, .most_recommended, .special_columns{
    flex-direction: column;
    align-items: center;
    padding: 40px 0;
}
.most_read .row.product{
    justify-content: space-around;
}
.most_read .products{
    display: flex;
    justify-content: center;
    padding-top: 20px;
}
.owl-item .product_pic .pic{
    max-width: 200px;
}
.product_name{
    font-size: 20px;
    font-weight: 600;
    padding-top: 20px;
}
.product_pic{
    position: relative;
}
.products h3{
    text-align: center;
    font-size: 20px;
}
.most_read img{
    width: 100%;
    vertical-align: bottom;
}
/* most_read section end */

/* most recom section */
/* full recom */
.coupnum{
    margin: auto;
    font-size: 40px;
    color: var(--maincolor);
}
.coupnum.pic{
    width: 200px;
    margin: auto;
}
.col_12.col_md_12.most_recom{
    display: block;
    padding: 40px 10px;
}
.recom{
    margin: auto;
}
/* flip comment book */
/* flip comment div */
.full.most_recom{
    background-color: var(--subcolor);
}
.col_12.col_md_12.title.most_recom::after{
    top: 72px;
}
.flip_comment{
    width: 100%;
    display: flex;
    justify-content: center;
    margin: auto;
    background-color: var(--subbgcolor);
}
/* flip comment book div*/
.flip_comment_book{
    display: flex;
    padding: 0 100px;
    margin: auto;
    width: 350px;
    width: calc((70%/2) - 2px);
    height: 450px;
    position: relative;
    transition: transform 1s;
}
/* front & back of paper */
.paper{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    perspective: 1500px;
}
.front, .back{
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    top: 0;
    left: 0;
    transform-origin: left;
    transition: transform 1s;
}
.front{
    z-index: 1;
    backface-visibility: hidden;
    border-left: 3px solid var(--subbgcolor);
}
.back{
    z-index: 0;
}
/* paper flipped effect */
.flipped .front, .flipped .back{
    transform: rotateY(-180deg);
}

/* paper content */
.fornt_content, .back_content{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}
.fornt_conetent h2{
    font-size: 30px;
    text-align: center;
}
.back_content{
    transform: rotateY(180deg);
}
.link.product{
    margin: auto;
}
/* profile pic */
.profile{
    padding: 15px;
}
.profile.pic{
    display:inline-block;
    position:relative;
    border-radius: 100%;
    width: 100px;
    height: 100px;
    margin-left: 10px;
}
.user_name span{
    color: var(--maincolor);
    font-weight: 400;
}
.user_level span{
    color: var(--subcolordark);
}
.fornt_conetent .txt{
    padding: 10px 10px;
}
.back_content h3{
    padding-top: 40px;
    line-height: 2rem;
}
.front.cover{
    background-image: url('../pics/background/bg_cover.jpg');
    background-size: cover;
    background-position: center center;
}
/* prev & next btn */
.flip_comment.prev_btn_label, .flip_comment.next_btn_label{
    box-sizing: inline-block;
    border: none;
    background-color: transparent;
    margin: 10px;
    transition: transform 1s;
}
/* paper stack order */
#p1{
    z-index: 4;
}
#p2{
    z-index: 3;
}
#p3{
    z-index: 2;
}
#p4{
    z-index: 1;
}
/* most_recom 手機 start */

@media screen and (max-width: 767px) {
    .coupnum{
        margin: auto;
        font-size: 20px;
        color: var(--maincolor);
    }
    .coupnum.pic{
        width: 100px;
        margin: auto;
    }
    .recom{
        margin: auto;
    }
    .most_recom_title{
        line-height: 2.5rem;
    }
    .col_12.col_md_12.most_recom{
        overflow: hidden;
    }
    .col_12.col_md_12.title.most_recom::after{
        top: 120px;
    }
    .flip_comment_book{
        display: flex;
        padding: 0 100px;
        margin: auto;
        height: 300px;
        position: relative;
        transition: transform 1s;
    }
    /* slide button img 設定 */
    .img.slide_btn img{
        width: 30px;
        opacity: .6;
    }
    .slide_btn.prev, .slide_btn.next{
        display: block;
        margin: auto;
        z-index: 1;
        width: 20px;
    }

    /* paper content */
    .fornt_content, .back_content{
        width: 35%;
        height: 100%;
        display: flex;
        justify-content: center;
        text-align: center;
        flex-direction: column;
    }
    .fornt_conetent h2{
        font-size: 20px;
        text-align: center;
    }
    .back_content h3{
        padding-top: 0;
        margin: auto;
        line-height: 2rem;
    }
    .back_content{
        transform: rotateY(180deg);
    }
    .link.product{
        margin: auto;
        width: 100px;
    }
    /* profile*/
    
    .user_profile.txt{
        margin: 0;
    }
    .profile.pic{
        display:inline-block;
        position:relative;
        border-radius: 100%;
        width: 60px;
        height: 60px;
        overflow: hidden;
        margin-left: 10px;
    }
    .comment{
        overflow: auto;
        height: 140px;
    }
    .profile.pic img{
        margin-top: -100%;
        margin-left: -220%;
    }
}
/* most_recom 手機 end */


/* transition start */
.transition_read_recom, .transition_recom_columns{
    margin: auto;
    background-image: url('../pics/background/bg_note.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position:center;
    background-attachment: fixed;
    right: 50%;
    width: 100%;
    height: 700px;
}
.transition_recom_columns{
    background-image: url('../pics/background/bg_glasses.jpg');
    background-attachment: fixed;
}
/* transition end */

/* columns */
@media screen and (min-width: 768px) {
    .row.columns{
        justify-content: space-around;
        padding-top: 40px;
    }
    
}
