
/* 毛玻璃效果 */
.full.good_points{
    position: relative;
    width: 100%;
}
.container.good_points{
    position: relative;
    padding-top: 70px;
    background-image: url(/pics/background/bg_pool.jpg);
    background-size: cover;
}
.container.good_points::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    background-image: url(/pics/background/bg_pool.jpg);
    background-size: cover;
    filter: blur(5px);
    z-index: 0;
}

@media screen and (min-width: 920px) {
    .container.good_points{
        position: relative;
        padding-top: 70px;
        background-position: 50% 50%;
        background-size: cover;
    }
    .container.good_points::before{
        background-position: 50% 50%;
        background-size: cover;
    }
}